﻿@model   Drocuments.Models.DTOs.Doctorsmodel

@{
    ViewBag.Title = "Add";
 //Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Add", "Doctors", FormMethod.Post, new { EncType = "multipart/form-data", id = "regForm" }))
{ 

@*@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)*@

    
    <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="signup-header"> Add Doctor </h1>
                </div>
                <div class="col-md-6">
                    @if (ViewBag.Message != null)
                    {
                        @ViewBag.Message
                    }
                </div>
                <div class="col-md-2">
                    <div class="row signup-form">
                        <div class="col-md-6">
                            <input type="reset" class="btn btn-default" value="Cancel" />
                        </div>
                        <div class="col-md-6">
                            <input type="submit" id="savefamily" class="btn btn-primary" value="Save" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
            <div>     
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @*<div class="form-group">
                                                    <span>UserId</span>
                                                    <div>
                                                        @Html.TextBox("UserId", null, new { @class = "form-control" })
                                                    </div>
                                                </div>*@
                                            @*<div class="form-group">*@
                                                                                               <div>
                                                    @Html.Hidden(Model.id.ToString())
                                              @*@Html.TextBox("id", null, new { @class = "form-control" })*@


                                                </div>
                                            @*</div>*@
                                            <div class="form-group">
                                                <span>Name</span>
                                                <div>
                                                    @Html.TextBox("name", null, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <span>Specialization_id</span>
                                                <div>
                                                    @Html.TextBox("specialization_id", null, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <span>Clinic Name</span>
                                                <div>
                                                    @Html.TextBox("clinic_name", null, new { @class = "form-control" })
                                                </div>
                                            </div>
                                           
                                            <div class="form-group">

                                                <span>Address</span>
                                                <div>

                                                    @Html.TextBox("address", null, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <span>qualification</span>
                                                <div>
                                                    @Html.TextBox("qualification", null, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                <span>Rating</span>
                                                <div>
                                                    @Html.TextBox("reating", null, new { @class = "form-control" })
                                                </div>
                                            </div>
                                         
                                        
                                        
                            </div></div></div></div></div></div>

              } 
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
