﻿@model  List<Repository.doctor>

@{
    ViewBag.Title = "Index";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row signup-form">
        <div class="col-md-12" align="center">

            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                               Id
                            </td>
                            <td>
                               Name
                            </td>
                            <td>
                                Qualification
                            </td>
                            <td>
                              Clinic Name
                            </td>
                            <td>
                                Address
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.id
                                </td>
                                <td>
                                    @item.name
                                </td>
                                <td>
                                    @item.qualification
                                </td>
                                <td>
                                    @item.clinic_name
                                </td>
                                <td>
                                    @item.address
                                </td>
                                <td>
                                    <a>Edit</a>
                                    <a>Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="col-md-6">
                <img src="~/Images/family_icon.png" class="img img-circle img-responsive img-thumbnail" width="200" />
                <h1 class="text-center signup-header">
                    Welcome
                </h1>
                <span>You can add  doctors  by clicking below</span>
                <form class="signup-form">
                    <div class="form-group">
                        @Html.ActionLink("Add Doctors", "Add", "Doctors", null, new { @class = "btn btn-drocument" })
                    </div>
                </form>
            </div>




        </div>
    </div>
</div>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
