﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/home-cf3634044e625f44e7f04a7f271c0b07.css" rel="stylesheet" />
    <link href="~/Content/assets/font-awesome.css" rel="stylesheet" />
    <script src="~/Content/assets/home-4b20e3d7bb42d3f3183310b591e4df72.js"></script>
</head>
<body>
    <div id="wrapper">

        <header class="navbar navbar-static-top bs-docs-nav" id="header" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="http://www.drocument.com" class="navbar-brand"><img src="~/Content/images/drocument_logo.png"></a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" id="profile-menu" data-toggle="dropdown" aria-expanded="true"><img class="img-circle" src="~/Images/user_icon.png"><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="profile-menu">
                                <li>@Html.ActionLink("Edit User", "Edit", "Account")</li>
                                <li>@Html.ActionLink("Sign out", "LogOut", "Account")</li>
                               
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        @*@if (Request.IsAuthenticated)
        {
            <text>
                Hello, @User.Identity.Name

            </text>
        }*@
        <section id="content">
            <div class="dashboard-menu container">
                @Html.ActionLink("Dashboard", "Index", "Dashboard")
                @Html.ActionLink("Drocuments", "Index", "Drocuments")
                @Html.ActionLink("FamilyMembers","Index", "FamilyMembers")
                @Html.ActionLink("Doctors","Index", "Doctors")
                @*@Html.ActionLink("Logout", "LogOut", "Home")*@
            </div>
            @RenderBody()
        </section>
        <footer id="footer">
            Copyright © 2015 drocument. All right reserved
        </footer>
    </div>
    <script src="~/Scripts/js/custom.js"></script>
</body>
</html>
