﻿@model  List<Repository.tbl_Family_Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Themes/scheduler_white.css")" rel="stylesheet" type="text/css" />
<div class="container">
    <div class="row signup-form">
        <div class="col-md-12" align="center">

            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                Member Id
                            </td>
                            <td>
                                FamilyMember EmailId
                            </td>
                            <td>
                                Relation
                            </td>
                            <td>
                                Action
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.FamilyMemberEmail
                                </td>
                                <td>
                                    @item.RelationID
                                </td>
                                <td>
                                    <a>Edit</a>
                                    <a>Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="col-md-6">
                <img src="~/Images/family_icon.png" class="img img-circle img-responsive img-thumbnail" width="200" />
                <h1 class="text-center signup-header">
                    Welcome
                </h1>
                <span>You can add  your FamilyMembers  by clicking below</span>
                <form class="signup-form">
                    <div class="form-group">
                        @Html.ActionLink("Add Family Memebers", "Add", "FamilyMembers", null, new { @class = "btn btn-drocument" })
                    </div>
                </form>
            </div>



         
        </div>
    </div>
</div>
