﻿@model  IEnumerable<Repository.tbl_Prescription> 
@{
    ViewBag.Title = "AddaDrocument";
}
@using (Html.BeginForm("Add", "Drocuments", FormMethod.Post, new { EncType = "multipart/form-data", id = "regForm" }))
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 class="signup-header"> Add a document </h1>
            </div>
            <div class="col-md-6">
                @if (ViewBag.Message != null)
                {
                    @ViewBag.Message
                }
            </div>
            <div class="col-md-2">
                <div class="row signup-form">
                    <div class="col-md-6">
                        <input type="reset" class="btn btn-default" value="Cancel" />
                    </div>
                    <div class="col-md-6">
                        <input type="button" id="savedrocument" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Drocument Name</span>
                            <div>
                                @Html.TextBox("DocumentName", null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Date of visit</span>
                            <div>
                                @Html.TextBox("DateOfVisit", null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Next visit</span>
                            <div>
                                @Html.TextBox("NextVisit", null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-4">
                <div class="form-group">
                    <span>&nbsp;</span>
                    <div>
                        <input type="button" class="btn btn-default" value="Remind me" />
                    </div>
                </div>
            </div>*@
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <span>Health problem</span>
                            <div>
                                @Html.TextArea("HealthproblemDescription", null, new { cols = "25", rows = "3", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"></div>
                </div>

                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#medicine" aria-controls="home" role="tab" data-toggle="tab">Medicines</a></li>
                        <li role="presentation"><a href="#docs" aria-controls="profile" role="tab" data-toggle="tab">Upload Documents</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="medicine">
                            <div class="col-md-12">
                                <div class="jumbotron" align="center">
                                    <div class="row">
                                        <div class="col-md-12"> Add your list of medicines which are in your prescription. </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default" data-toggle="modal" onclick="deleterowmedicinepop()" data-target="#myModal">Add Medicine</button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <table id="maintblmedicines" class="table table-bordered">
                                        <tr>
                                            <th>Name of medicine</th>
                                            <th>Duration</th>
                                            <th>Dosage</th>
                                            <th>Quantity</th>
                                            <th></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="docs">
                            <div class="col-md-12">
                                <div class="jumbotron" align="center">
                                    <div class="row">
                                        <div class="col-md-12"> Upload your drocument here. </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default" data-toggle="modal" onclick="deleterowdrocumentpop()" data-target="#uploadDocuments">Add Drocuments</button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <table id="maintbldrocument" class="table table-bordered">
                                        <tr>
                                            <th>FileName</th>
                                            <th>File</th>
                                            <th></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>


            </div>
            @*<div class="col-md-3" style="background:#f3f3f3;padding-top:10px;">
                    <div class="row">
                        <div class="col-md-6" style="line-height:50px;">
                            <b>Doctor details</b>
                        </div>
                        <div class="col-md-6" align="right">
                            <img src="images/user_icon.png" class="img-circle img-thumbnail" width="50" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <span>Name</span>
                                <div>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span>Phone number</span>
                                <div>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span>Address</span>
                                <div>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
}

<!-- Modal -->
<from id="medicineform">
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Medicines</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" id="add">
                          
                              <div class="row medicine">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span>Name of medicine</span>
                                        <div>
                                            <input id="Nameofmedicine" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span>Duration</span>
                                        <div>
                                            <input id="Duration" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span>Dosage</span>
                                        <div>
                                            <select id="Dosage" multiple="multiple" class="form-control">
                                                <option value="Morning">Morning</option>
                                                <option value="Afternoon">Afternoon</option>
                                                <option value="Evening">Evening</option>
                                                <option value="Night">Night</option>
                                            </select>
                                        </div>
                                        
                                        @*<select class="form-control" multiple="multiple" data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' data-plugin-multiselect id="ms_example0">
                                           
                                        </select>*@
                                        @*<div style="line-height:30px;font-size:12px;">
                                            Morning <input type="checkbox" value="Morning" id="Morning" class="dosageClass" /> Afternoon <input type="checkbox" value="Afternoon" id="Afternoon" class="dosageClass" /> Evening <input type="checkbox" id="Evening" value="Evening" class="dosageClass" /> Night <input type="checkbox" id="Night" value="Night" class="dosageClass" />
                                        </div>*@
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span>Quantity</span>
                                        <div>
                                            <input id="Quantity" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                         </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6" align="left" style="line-height:30px;"><button id="Moremedicines" type="button" class="btn btn-default pull-left"><i class="fa fa-plus"></i></button>&nbsp;&nbsp;&nbsp;More medicines</div>
                    <div class="col-md-6" align="right">
                        <button type="button" id="addmedicine" class="btn btn-primary"><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</from>

<from id="drocumentform">
    <div class="modal fade" id="uploadDocuments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload Documents</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" id="addDroc">
                            <div class="row drocument">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span>FileName</span>
                                        <div>
                                            <input id="drocName" type="text" class="form-control drocumentname" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 text-center">
                                    <div class="form-group">
                                        <span>&nbsp;</span>
                                        <div>
                                            <input type='file' id="fileUpload" name="fileUpload" class="btn btn-default fileUpload" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6" align="left" style="line-height:30px;">
                        <button id="MoreDrocuments" type="button" class="btn btn-default pull-left"><i class="fa fa-plus"></i></button>&nbsp;&nbsp;&nbsp;More Drocuments
                    </div>
                    <div class="col-md-6" align="right">
                        <button type="button" id="adddrocument" class="btn btn-primary"><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</from>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="~/Content/assets/bootstrap-multiselect.css" type="text/css" />
<script>

    $('.medicine').find('#Dosage').multiselect();
</script>
<script language="javascript">
    $(document).ready(function () {
        $('#DateOfVisit').datepicker({
            //minDate: new Date(),
            onClose: function (selectedDate) {
                var date = new Date(selectedDate);
                date.setDate(date.getDate() + 1);
                $("#NextVisit").datepicker("option", "minDate", date);
            }
        });
        $('#NextVisit').datepicker({
            minDate: new Date()
        });
    });
</script>



<script>
    $("#Moremedicines").on("click", function () {

        var divFirst = $('#medicineform').find("div.row.medicine").first();
        var divLast = $('#medicineform').find("div.row.medicine").last();
        var html = '';
        html += '<div class="col-md-1"><div>&nbsp;</div>'
        html += '<a class="btn btn-link deleteRowMedicine"><b>X</b></a>'
        html += '</div>'
        var newDiv = divFirst.clone();
        newDiv.append(html);
        $(newDiv).find('input').val("");
        $(newDiv).find('.btn-group.dos:nth-child(2)').remove();
        $(newDiv).find('#Dosage').multiselect();
        newDiv.insertAfter(divLast);
    });

</script>

<script>
    $("#MoreDrocuments").on("click", function () {


        var divFirst = $('#drocumentform').find("div.row.drocument").first();
        var divLast = $('#drocumentform').find("div.row.drocument").last();
        var html = '';
        html += '<div class="col-md-1"><div>&nbsp;</div>'
        html += '<a class="btn btn-link deleteRowDrocument"><b>X</b></a>'
        html += '</div>'
        var newDiv = divFirst.clone();
        newDiv.append(html);
        newDiv.insertAfter(divLast);
        $(newDiv).find('input').val("");
    });
</script>

<script>
    $(document).on('click', '.deleteRowDrocument', function () {
        $(this).parents('.row.drocument').remove();
    });
</script>


<script>
    $(document).on('click', '.deleteRowMedicine', function () {
        $(this).parents('.medicine').remove();
    });
</script>


<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
        $("#regForm").validate({
            rules: {
                DateOfVisit: "required",
                NextVisit: "required",
                HealthproblemDescription: {
                    required: true,
                },
            },
            messages: {
                DateOfVisit: "Please Select DateOfVisit",
                NextVisit: "Please Select NextVisit ",
                HealthproblemDescription: {
                    required: "Please enter Healthproblem",
                }
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#medicineform").validate({
            rules: {
                Nameofmedicine: "required",
                Duration: "required",
                Quantity: "required"
            },
            messages: {
                Nameofmedicine: "Please enter medicine name",
                Duration: "Please enter Duration ",
                Quantity: "Please enter Quantity"
            }
        });
    });
</script>






@*<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
        $("#regForm").validate({
            rules: {
                DocumentName: "required",
                DateOfVisit: "required",
                NextVisit: "required",
            },
            messages: {
                DocumentName: "Please enter your firstname",
                DateOfVisit: "Please enter your lastname",
                NextVisit: "Please Select City",
            },
            errorPlacement: function (err, ele) {
                ele.css({ 'border': '1px solid #C54E4E' });
                    ele.attr('placeholder', err.html())
                    //err.insertAfter(ele);
                   // err.insertAfter(ele.parents('.radiobox-container'));
                    //err.insertAfter(ele.parents('.checkbox'));
                
            }
        });
    });
</script>*@