﻿@model  Drocuments.Models.DTOs.AddaDrocumentDTO

@{
    ViewBag.Title = "Edit";
   // var medicinsfromDB = @Model.medicines.ToList();
    var medicinsfromDB = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.medicines.ToList()));
    var drocumentsfromDB = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.dro.ToList()));
}



@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 class="signup-header"> Add a document </h1>
            </div>
            <div class="col-md-6">
                @if (ViewBag.Message != null)
                {
                    @ViewBag.Message
                }
            </div>
            <div class="col-md-2">
                <div class="row signup-form">
                    <div class="col-md-6">
                        <input type="reset" class="btn btn-default" value="Cancel" />
                    </div>
                    <div class="col-md-6">
                        <input type="submit" id="saveeditdrocument" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4" hidden="hidden">
                        <div class="form-group">
                            <span>PrescriptionId</span>
                            <div>
                                @Html.TextBox("PrescriptionId", null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Drocument Name</span>
                            <div>
                                @Html.TextBox("FileName", null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Date of visit</span>
                            <div>
                                @Html.TextBox("DateOfVisit", null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Next visit</span>
                            <div>
                                @Html.TextBox("NextVisit", null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-4">
                            <div class="form-group">
                                <span>&nbsp;</span>
                                <div>
                                    <input type="button" class="btn btn-default" value="Remind me" />
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <span>Health problem</span>
                            <div>
                                @Html.TextArea("HealthproblemDescription", null, new { cols = "25", rows = "3", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"></div>
                </div>

                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#medicine" aria-controls="home" role="tab" data-toggle="tab">Medicines</a></li>
                        <li role="presentation"><a href="#docs" aria-controls="profile" role="tab" data-toggle="tab">Upload Documents</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="medicine">
                            <div class="col-md-12">
                                <div class="jumbotron" align="center">
                                    <div class="row">
                                        <div class="col-md-12"> Add your list of medicines which are in your prescription. </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default" data-toggle="modal" onclick="deleterowmedicinepop()" data-target="#myModal">Add Medicine</button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <table id="maintblmedicines" class="table table-bordered">
                                        <tr>
                                            <th>Name of medicine</th>
                                            <th>Duration</th>
                                            <th>Dosage</th>
                                            <th>Quantity</th>
                                            <th></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="docs">
                            <div class="col-md-12">
                                <div class="jumbotron" align="center">
                                    <div class="row">
                                        <div class="col-md-12"> Upload your drocument here. </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default" data-toggle="modal" onclick="deleterowdrocumentpop()" data-target="#uploadDocuments">Add Drocuments</button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <table id="maintbldrocument" class="table table-bordered">
                                        <tr>
                                            <th>FileName</th>
                                            <th>File</th>
                                            <th></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>


            </div>
            @*<div class="col-md-3" style="background:#f3f3f3;padding-top:10px;">
                    <div class="row">
                        <div class="col-md-6" style="line-height:50px;">
                            <b>Doctor details</b>
                        </div>
                        <div class="col-md-6" align="right">
                            <img src="images/user_icon.png" class="img-circle img-thumbnail" width="50" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <span>Name</span>
                                <div>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span>Phone number</span>
                                <div>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <span>Address</span>
                                <div>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
}

<!-- Modal -->
<from id="medicineform">
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Medicines</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" id="add">
                            <div class="row medicine">
                                <div class="col-md-4" hidden="hidden">
                                    <div class="form-group">
                                        <span>PrescribedMedicineId</span>
                                        <div>
                                            <input id="PrescribedMedicineId" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span>Name of medicine</span>
                                        <div>
                                            <input id="Nameofmedicine" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span>Duration</span>
                                        <div>
                                            <input id="Duration" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span>Dosage</span>
                                        <div>
                                            <select id="Dosage" multiple="multiple" class="form-control">
                                                <option value="Morning" >Morning</option>
                                                <option value="Afternoon">Afternoon</option>
                                                <option value="Evening">Evening</option>
                                                <option value="Night">Night</option>
                                            </select>
                                        </div>

                                        @*<select class="form-control" multiple="multiple" data-plugin-options='{ "enableCaseInsensitiveFiltering": true }' data-plugin-multiselect id="ms_example0">

                                            </select>*@
                                        @*<div style="line-height:30px;font-size:12px;">
                                                Morning <input type="checkbox" value="Morning" id="Morning" class="dosageClass" /> Afternoon <input type="checkbox" value="Afternoon" id="Afternoon" class="dosageClass" /> Evening <input type="checkbox" id="Evening" value="Evening" class="dosageClass" /> Night <input type="checkbox" id="Night" value="Night" class="dosageClass" />
                                            </div>*@
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span>Quantity</span>
                                        <div>
                                            <input id="Quantity" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6" align="left" style="line-height:30px;"><button id="Moremedicines" type="button" class="btn btn-default pull-left"><i class="fa fa-plus"></i></button>&nbsp;&nbsp;&nbsp;More medicines</div>
                    <div class="col-md-6" align="right">
                        <button type="button" id="addmedicine" class="btn btn-primary"><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</from>

<from id="drocumentform">
    <div class="modal fade" id="uploadDocuments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload Documents</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" id="addDroc">

                            <div class="row drocument">
                                <div class="col-md-4" hidden="hidden">
                                    <div class="form-group">
                                        <span>DocumentID</span>
                                        <div>
                                            <input id="DocumentID" type="text" class="form-control drocumentname" />
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span>FileName</span>
                                        <div>
                                            <input id="drocName" type="text" class="form-control drocumentname" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 text-center">
                                    <div class="form-group">
                                        <span>&nbsp;</span>
                                        <div>
                                            <input type='file' id="fileUpload" name="fileUpload" class="btn btn-default fileUpload" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6" align="left" style="line-height:30px;">
                        <button id="MoreDrocuments" type="button" class="btn btn-default pull-left"><i class="fa fa-plus"></i></button>&nbsp;&nbsp;&nbsp;More Drocuments
                    </div>
                    <div class="col-md-6" align="right">
                        <button type="button" id="adddrocument" class="btn btn-primary"><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</from>


<script src="~/Scripts/jquery-1.10.2.js"></script>


<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="~/Content/assets/bootstrap-multiselect.css" type="text/css" />

<script language="javascript">
    $(document).ready(function () {
        $('#DateOfVisit').datepicker({
            minDate: new Date(),
            onClose: function (selectedDate) {
                var date = new Date(selectedDate);
                date.setDate(date.getDate() + 1);
                $("#NextVisit").datepicker("option", "minDate", date);
            }
        });
        $('#NextVisit').datepicker({
            minDate: new Date()
        });
    });
</script>


@*<script type="text/javascript">
    $(function () {
        $('.edit-mode').hide();
        $('.edit-user, .cancel-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit-mode, .display-mode').toggle();
        });
        $('.save-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            var Name = tr.find("#HealthproblemDescription").val();
            var SurName = tr.find("#DateOfVisit").val();
            var UserID = tr.find("#PrescriptionId").html();
            //tr.find("#lblName").text(HealthproblemDescription);
            //tr.find("#lblSurName").text(DateOfVisit);
            //tr.find("#PrescriptionId").text(PrescriptionId)
            tr.find('.edit-mode, .display-mode').toggle();
            var UserModel =
            {
                "PrescriptionId": UserID,
                "HealthproblemDescription": Name,
                "DateOfVisit": SurName
            };
            $.ajax({
                url: '/Home/Edit/',
                data: JSON.stringify(UserModel),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert(data);
                }
            });

        });
    })
</script>*@

<script type="text/javascript">
    $(function () {
        $('.delete-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            var UserID = tr.find("#PrescriptionId").html();
            tr.find('.edit-mode, .display-mode').toggle();
            if (confirm("Do you want to delete Id: " + UserID)) {
                var data = { 'PrescriptionId': UserID }
                $.ajax({
                    url: '/Home/Delete?UserID=' + UserID,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert('Record Deleted');
                    }

                });

            }
        });
    })
</script>

<script>
    $("#Moremedicines").on("click", function () {

        var divFirst = $('#medicineform').find("div.row.medicine").first();
        var divLast = $('#medicineform').find("div.row.medicine").last();
        var html = '';
        html += '<div class="col-md-1"><div>&nbsp;</div>'
        html += '<a class="btn btn-link deleteRowMedicine"><b>X</b></a>'
        html += '</div>'
        var newDiv = divFirst.clone();
        newDiv.append(html);
        $(newDiv).find('input').val("");
        $(newDiv).find('.btn-group.dos:nth-child(2)').remove();
        // $('input[type=checkbox]', $div).prop('checked', false);
        $(newDiv).find('#Dosage').multiselect();
      //  $(newDiv).find('#Dosage:checked').attr('checked', false);

        newDiv.insertAfter(divLast);
        //$(html).insertAfter(divLast);
    });

</script>

<script>
    $("#MoreDrocuments").on("click", function () {


        var divFirst = $('#drocumentform').find("div.row.drocument").first();
        var divLast = $('#drocumentform').find("div.row.drocument").last();
        var html = '';
        html += '<div class="col-md-1"><div>&nbsp;</div>'
        html += '<a class="btn btn-link deleteRowDrocument"><b>X</b></a>'
        html += '</div>'
        var newDiv = divFirst.clone();
        newDiv.append(html);
       // $(newDiv).find('.classFOC:checked').attr('checked', false);
        newDiv.insertAfter(divLast);
        $(newDiv).find('input').val("");

        //$(html).insertAfter(divLast);

        //var html = '<div class="row drocument">'
        //html += ' <div class="col-md-4">'
        //html += ' <div class="form-group">'
        //html += ' <span>Name </span>'
        //html += ' <div>'
        //html += ' <input type="text" id="drocName" class="form-control" />'
        //html += ' </div>'
        //html += ' </div>'
        //html += '</div>'
        //html += ' <div class="col-md-7 text-center">'
        //html += ' <div class="form-group">'
        //html += ' <span>&nbsp;</span>'
        //html += ' <div>'
        //html += ' <input type="file" id="fileUpload" name="fileUpload" class="btn btn-default" />'
        //html += ' </div>'
        //html += '  </div>'
        //html += '</div>'
        //html += '<div class="col-md-1"><div>&nbsp;</div>'
        //html += '<a class="btn btn-link deletefile"><b>X</b></a>'
        //html += ' </div>'
        //html += '</div>'
        //$("#addDroc").append(html);
    });
</script>

<script>
    $(document).on('click', '.deleteRowDrocument', function () {
        $(this).parents('.row.drocument').remove();
    });
</script>


<script>
    $(document).on('click', '.deleteRowMedicine', function () {
        $(this).parents('.medicine').remove();
    });
</script>
@*<script>
    $(function () {
        $("#addmedicine").click(function () {
            $('.medicine').each(function () {
                var person = getPerson($(this));
                if (person == null) {
                    alert("please provide details");
                    return;
                }
                // take the data and post it via json
                $.post("/Home/save", person, function (data) {
                    var message = data.Message;
                });
            });
        });
    });

    function getPerson(ele) {
        var Name = ele.find("#Nameofmedicine").val();
        var Durat = ele.find("#Duration").val();
        var qty = ele.find("#Quantity").val();
        var names = ele.find('.dosageClass:checked').map(function () {
            return this.value;
        }).get().join(', ')
        // poor man's validation
        return { Nameofmedicine: Name, Duration: Durat, Dosage: names,Quantity:qty };
    }  </script>*@

@*<script>

    var tblmedicine = new Array();
    var tbldrocument = new Array();

    $(document).ready(function(){
        $("#addmedicine").click(function () {
                   $('.medicine').each(function () {
                       var medic = getmedicine($(this));
                           tblmedicine.push(person);
                   });
           });
           $("#adddrocument").click(function () {
               $('.drocument').each(function () {
                   var droc = getdrocument($(this));
                   tbldrocument.push(droc);
               });
           });

           $("#savedrocument").click(function () {
               var obj = { drocument: tbldrocument, medicine: tblmedicine, DocumentName: $("#DocumentName").val(), DateOfVisit: $("#DateOfVisit").val(), NextVisit: $("#NextVisit").val(), HealthproblemDescription: $("#HealthproblemDescription").val() }
               $.post("/Home/AddaDrocument", obj, function (data) {
                   var message = data.Message;
               });
           });
    });

    function getmedicine(ele) {
    var Name = ele.find("#Nameofmedicine").val();
    var Durat = ele.find("#Duration").val();
    var qty = ele.find("#Quantity").val();
    var names = ele.find('.dosageClass:checked').map(function () {
    return this.value;
    }).get().join(', ')
    // poor man's validation
    return { Nameofmedicine: Name, Duration: Durat, Dosage: names,Quantity:qty };
    }

    function getdrocument(ele) {
        var droc = ele.find("#drocName").val();
        var file = ele.find("#fileUpload").val();
        get().join(', ')
        // poor man's validation
        return { drocName: droc, fileUpload: file };
    }
        </script>*@

<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
        $("#regForm").validate({
            rules: {
                DateOfVisit: "required",
                NextVisit: "required",
                HealthproblemDescription: {
                    required: true,
                },
            },
            messages: {
                DateOfVisit: "Please Select DateOfVisit",
                NextVisit: "Please Select NextVisit ",
                HealthproblemDescription: {
                    required: "Please enter Healthproblem",
                }
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#medicineform").validate({
            rules: {
                Nameofmedicine: "required",
                Duration: "required",
                Quantity: "required"
            },
            messages: {
                Nameofmedicine: "Please enter medicine name",
                Duration: "Please enter Duration ",
                Quantity: "Please enter Quantity"
            }
        });
    });
</script>






@*<script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $(document).ready(function () {
            $("#regForm").validate({
                rules: {
                    DocumentName: "required",
                    DateOfVisit: "required",
                    NextVisit: "required",
                },
                messages: {
                    DocumentName: "Please enter your firstname",
                    DateOfVisit: "Please enter your lastname",
                    NextVisit: "Please Select City",
                },
                errorPlacement: function (err, ele) {
                    ele.css({ 'border': '1px solid #C54E4E' });
                        ele.attr('placeholder', err.html())
                        //err.insertAfter(ele);
                       // err.insertAfter(ele.parents('.radiobox-container'));
                        //err.insertAfter(ele.parents('.checkbox'));

                }
            });
        });
    </script>*@

<script>
    $(document).ready(function () {
        var medicines =@medicinsfromDB
        $.each(medicines, function (index, item) {
            var tr = '<tr>';
           // tr += '<td >' + item.PrescribedMedicineId + '<input type=hidden value=</td>';
            tr += '<td>' + item.Nameofmedicine + '<input id=medicineId class=medidicineid isnew=0 type=hidden value=' + item.PrescribedMedicineId + '></input>' + '</td>';
            tr += '<td>' + item.Duration + '</td>';
            tr += '<td>' + item.Quantity + '</td>';
            tr += '<td>' + item.Dosage + '</td>';
            tr += '<td><a class="btn btn-link deleteRowmainMedicine"><b>X</b></a></td>'
            tr += '</tr>';
            $('#maintblmedicines tr:last').after(tr);
           // tblmedicine.push({ Nameofmedicine: item.Nameofmedicine, Duration: item.Duration, Dosage: item.Dosage, Quantity: item.Quantity });
        });
        $('.medicine').find('#Dosage').multiselect();
        //  $('#Dosage').multipleSelect();
   
        var  data =@drocumentsfromDB
        $.each(data, function (index, item) {
            var tr = '<tr>';
            tr += '<td>' + item.drocName + '<input id=drocumentid class=drodrcumentid isnew=0 type=hidden value=' + item.DocumentID + '></input>' + '</td>';
           // tr += '<td>' + item.drocName + '</td>';
            tr += '<td>' + item.fileUpload + '</td>';
            tr += '<td><a class="btn btn-link deleteRowmaindrocument"><b>X</b></a></td>'
            tr += '</tr>';
            $('#maintbldrocument tr:last').after(tr);

            //getdrocument($(this));
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#saveeditdrocument").click(function () {
            debugger;
            drocumentdata = {
                PrescriptionId:$("#PrescriptionId").val(),
                FileName: $("#FileName").val(),
                DateOfVisit: $("#DateOfVisit").val(),
                NextVisit: $("#NextVisit").val(),
                HealthproblemDescription: $("#HealthproblemDescription").val(),
                medicines: tblmedicine, dro: tbldrocument
            };


            var DTO = JSON.stringify(drocumentdata);
            $.ajax({
                url: '/Drocuments/Edit', //calling Web API controller product
                cache: false,
                type: 'POST', async: false,
                contentType: 'application/json; charset=utf-8',
                data: DTO,
                dataType: 'json',
                //contentType: false,
                //processData: false,
                success: function (data) {
                    alert('added');
                    ClearGlobalCacheData();
                }
            }).fail(
            function (xhr, textStatus, err) {
                alert(err);
            });
        });
    });
</script>
<script>
    function getmedicine(ele) {
        var Name = ele.find("#Nameofmedicine").val();
        var Durat = ele.find("#Duration").val();
        var qty = ele.find("#Quantity").val();
        var names = $('#Dosage').val().join(",");

        return { Nameofmedicine: Name, Duration: Durat, Dosage: names, Quantity: qty };
    }
</script>
      <script>
          debugger
          $(document).on('click', '.deleteRowmainMedicine', function () {
                  var tr = $(this).parents('tr:first');
                  var drocid = tr.find("#medicineId").val();
                  var isnew = tr.find(".medidicineid").attr('isnew');
                //  var UserID = tr.find("#PrescriptionId").html();
              //tr.find('.edit-mode, .display-mode').toggle();

                  if (confirm("Do you want to delete Id: " + drocid)) {
                      if (isnew == 0)
                          {
                      var data = { 'PrescribedMedicineId': drocid }
                      $.ajax({
                          url: '/Drocuments/DeleteMedicine?drocid=' + drocid,
                          type: 'POST',
                          contentType: 'application/json; charset=utf-8',
                          success: function (data) {
                              alert('Record Deleted');
                          }

                      });
                      }
                      $(this).closest('tr').remove();

                      tblmedicine = $.grep(tblmedicine, function (item, index) {
                          return item.PrescribedMedicineId != drocid;
                      });
                  }
                  //$(this).parents('.medicine').remove();
                  // $(this).closest('tr').remove();
              
          });
 </script>




<script>
    $(document).on('click', '.deleteRowmaindrocument', function () {
        var tr = $(this).parents('tr:first');
        var id = tr.find("#drocumentid").val();
        var isnew = tr.find(".drodrcumentid").attr('isnew');
        //  var UserID = tr.find("#PrescriptionId").html();
        //tr.find('.edit-mode, .display-mode').toggle();
        if (confirm("Do you want to delete Id: " + id)) {
            if (isnew == 0)
                {
            var data = { 'DocumentID': id }
            $.ajax({
                url: '/Drocuments/DeleteDrocument?id=' + id,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert('Record Deleted');
                }

            });
            }
            $(this).closest('tr').remove();

            tbldrocument = $.grep(tbldrocument, function (item, index) {
                return item.DocumentID != id;
            });
        }
        //$(this).parents('.medicine').remove();
        // $(this).closest('tr').remove();

    });
</script>
<script>
    function deleterowmedicinepop() {

       // $('#myModal').find('.medicine:not(:first)').remove();
       // $('.medicine').find('input').val("");
        //$('.medicine').find('#Dosage').first().multipleSelect();
        //$('.medicine').find('#Dosage').first().find('[name=options]').attr("selected", false);
    }
</script>