﻿@model List<Repository.tbl_Prescription>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1 class="signup-header"> List of Documents </h1>
        </div>
        <div class="col-md-6">
            @if (ViewBag.Message != null)
            {
                @ViewBag.Message
            }
        </div>
        <div class="col-md-2">
            <div class="row signup-form">
                <div class="col-md-12">
                    @Html.ActionLink("Create Drocument", "Add", "Drocuments", new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @*<h3>Drocuments</h3>*@
            <div class="jumbotrontable" align="center">
                @{
                    
                        var grid = new WebGrid(source: Model.ToList(), rowsPerPage: 4, canPage: true, canSort: false);
               
                    @grid.GetHtml(
                 tableStyle: "table table-bordered table-striped table-responsive",
    mode: WebGridPagerModes.All,
    columns:
        grid.Columns(
         grid.Column("PrescriptionId", "Id", format: @<text> <span id="PrescriptionId" class="edit-mode">
                @item.PrescriptionId </text>, style: "col1Width" ),
                              grid.Column(columnName: "Document Name", format: (item) => Html.ActionLink(((string)item.FileName), "Edit", new { drocid = item.PrescriptionId })),
                         //grid.Column(columnName: "Document Name", format: (item) => Html.ActionLink((item.FileName == null ? "Name" : (string)item.FileName), "EditDrocument", new { drocid = item.PrescriptionId })),
          grid.Column("DateOfVisit", "Date of visit", format: @<text> @item.DateOfVisit </text>, style: "col2Width"),
grid.Column("", format: @<text>
                        <button type="button" class="btn btn-default delete-user">Delete</button>
</text>, style: "col3Width", canSort: false)
                            // grid.Column("DocumentName", "Document Name", format: @<text>  <span class="display-mode"> <span id="lblName"></span> </span> </text>, style: "col2Width")
                            //grid.Column("DocumentPath", "DocumentPath", format: @<text> <span class="display-mode"> <span id="lblSurName">@item.DocumentPath</span> </span>  </text>, style: "col2Width"),
))
                
                }
        </div>
    </div>
</div>
</div>



<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        $('.delete-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            var drocid = tr.find("#PrescriptionId").html();
            //tr.find('.edit-mode, .display-mode').toggle();
            if (confirm("Do you want to delete Id: " + drocid)) {
                var data = { 'PrescriptionId': drocid }
                $.ajax({
                    url: '/Drocuments/fileDelete?drocid=' + drocid,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        alert('Record Deleted');
                    }

                });

            }
        });
    })
</script>
