﻿@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from drocument.com/signup by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Feb 2015 06:04:06 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- /Added by HTTrack -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Drocument</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="layout" content="drocument" />
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,700,300italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/home-cf3634044e625f44e7f04a7f271c0b07.css" />
    <script src="assets/home-4b20e3d7bb42d3f3183310b591e4df72.js" type="text/javascript"></script>
</head>
<body>
    <div id="wrapper">
        <header class="navbar navbar-static-top bs-docs-nav" id="header" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a href="index.html" class="navbar-brand"><img src="images/drocument_logo.png"></a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">About drocument</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="login/auth.html" class="menu-button">Sign in</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section id="content">
            <div id="signup-container" class="container">
                <h1 class="text-center signup-header"> We really need this information to serve you better </h1>
                <form class="signup-form" id="regfrom2" action="#" method="post">
@using (Html.BeginForm("Details", "Account", FormMethod.Post, new { @class = "signup-form" }))
        {

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <input placeholder="Date of Birth" id="DateofBirth" type="text" value="" tabindex="1" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <input placeholder="Contact Number" id="ContactNumber" type="text" value="" tabindex="2" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <input placeholder="Blood Group" id="BloodGroup" type="text" value="" tabindex="2" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <input placeholder="Weight" id="Weight" type="text" value="" tabindex="2" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <input placeholder="City" id="City" type="text" value="" tabindex="2" />
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8" align="center">
                                    <div style="border:3px solid rgba(255, 255, 255, 0.1);height:225px;">
                                        <img src="images/user_icon.png" class="img-circle img-thumbnail" width="150" style="margin-top:30px;cursor:pointer;opacity:0.3;" onclick="document.getElementById('picture').click();" />
                                        <input type="file" id="picture" style="display:none;" />
                                        <div>Upload your picture</div>
                                    </div>
                                </div>
                            </div>
                          <div class="row"> 
                                <div class="col-md-8">
                                    <input placeholder="Country" id="Country" type="text" value="" tabindex="2" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div  align="center">
                            <button class="btn btn-drocument" style="margin-top:20px;">Get Started</button>
                        </div>
                    </div>
}
                </form>
            </div>
        </section>
    </div>
</body>

<!-- Mirrored from drocument.com/signup by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Feb 2015 06:04:06 GMT -->
</html>



<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
        $("#regfrom2").validate({
            rules: {
                FirstName: "required",
                LastName: "required",
                Password: {
                    required: true,
                    minlength: 5
                },
                CityId: "required",
                ContactNumber: "required",
                confirmPassword: {
                    required: true,
                    minlength: 5,
                    equalTo: "#Password"
                },
                Gender: "required",
                Address: "required",
                Email: {
                    required: true,
                    email: true
                },
                terms: {
                    required: true,
                }
            },
            messages: {
                FirstName: "Please enter your firstname",
                LastName: "Please enter your lastname",
                Password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                confirmPassword: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long",
                    equalTo: "Please enter the same password as above"
                },
                Gender: "Please Select Gender",
                ContactNumber: "Please enter ContactNumber",
                Address: "Please enter Address",
                Email: "Please enter a valid email address",
                CityId: "Please Select City",
                terms: "Please accept terms and conditions of drocument"
            },
            errorPlacement: function (err, ele) {
                ele.css({ 'border': '1px solid #C54E4E' });
                //ele.parents('.checkbox').css({ 'border': '1px solid #C54E4E' });
                ele.parents('.radiobox-container').css({ 'border': '1px solid #C54E4E' });
                if (ele.attr('type') == "password") {
                    err.insertAfter(ele);
                }
                else {
                    ele.attr('placeholder', err.html())
                    //err.insertAfter(ele);
                    err.insertAfter(ele.parents('.radiobox-container'));
                    err.insertAfter(ele.parents('.checkbox'));
                }
            }
        });
    });
</script>