﻿@model Repository.tbl_UserInfo
@{
    ViewBag.Title = "Edit";
}
<div id="signup-container" class="container">
    <h1 class="text-center signup-header">
        Update User
    </h1>

    @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "signup-form" }))
    {
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.FirstName, null, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.LastName)
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Address, new { placeholder="address" })
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.ContactNumber, new { placeholder="Contact Number" })
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div style="display: inline-block;margin-top: 10px;">
                    <div id="msg"></div>
                </div>
                <input type="submit" class="pull-right btn btn-drocument " value="Update">
            </div>
            <div class="col-md-2"></div>
        </div>
    }

</div>
