﻿@model Repository.tbl_LogIn
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    .dashboard-menu {
        display: none;
    }
</style>
<div id="signup-container" class="container text-center">
    <h1 class="text-center signup-header">
        Sign into with email
    </h1>
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        @if (ViewBag.Message != null)
        {
            @ViewBag.Message
        }
    </div>

    <form class="signup-form" id="loginForm" method="post">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @Html.TextBox("Email", "", new { placeholder = "Email", @class = "" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @Html.Password("password", "", new { placeholder = "Password", @class = "" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <input type="submit" class="btn btn-drocument" tabindex="3" value="Sign in  ">
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @Html.ActionLink("Forgot Password?", "forgotpassword","Account",null)
                </div>
            </div>
            <h4 class="text-center or">(or)</h4>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" align="center">
                    <button type="button" class="btn btn-primary" onclick="window.location.href = 'Account/Facebook?provider=facebook'" style="line-height:30px;font-size:18px;"><img src="~/Images/facebook.png" height="30" style="line-height:30px;border-right:1px solid #1764A6;padding-right:10px;" /> <span style="line-height:30px;">Sign in with facebook</span></button>
                    <button type="button" class="btn btn-google" onclick="window.location.href = 'Account/Gmail?provider=google'" style="line-height:30px;font-size:18px;"><img src="~/Images/googleplus.png" height="30" style="line-height:30px;border-right:1px solid #943226;padding-right:10px;" /> <span style="line-height:30px;">Sign in with Google</span></button>
                    @*@Html.ActionLink("Login with facebook", "Facebook", "Account", new { provider = "facebook" }, new { @class = "btn btn-link" })
                    (or) @Html.ActionLink("Login with Gmail", "Gmail", "Account", new { provider = "google" }, new { @class = "btn btn-link" })*@
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row"><div class="col-md-12 text-center">We NEVER post without your permission</div></div>
        }
    </form>
    @Html.ActionLink("Sign up your account", "Register")
</div>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
        $("#loginForm").validate({
            rules: {

                password: {
                    required: true,
                    minlength: 5
                },
                Email: {
                    required: true,
                    email: true
                },
            },
            messages: {
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                Email:{ 
                    required: "Please enter a valid email address",
                    email:"Please enter a valid email address"
                },
                
            },
            errorPlacement: function (err, ele) {
                ele.css({ 'border': '1px solid #C54E4E' });
                if (ele.attr('type') == "password") {
                    err.insertAfter(ele);
                }
                else {
                    ele.attr('placeholder', err.html())
                    //err.insertAfter(ele);
                }
            }

        });
    });
</script>
<style>
    .btn-primary {
        margin-right: 5px;
        margin-left: -5px;
        margin-bottom: 10px;
    }

    .btn-google {
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .or {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .nav.navbar-nav.navbar-right {
        display: none;
    }
</style>

