﻿@model Repository.tbl_UserInfo

@{
    ViewBag.Title = "Sign up for Drocument | Drocument";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>
    .dashboard-menu {
        display: none;
    }

    #signup-container {
        min-height: 670px;
    }
</style>
<div id="signup-container" class="container">
    <h1 class="text-center signup-header">
        Sign up with email
    </h1>
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        @if (ViewBag.Message != null)
        {
            @ViewBag.Message
        }
    </div>

    <form class="signup-form" id="regfrom" method="post">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "signup-form" }))
        {

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    @Html.TextBox("FirstName", "", new { placeholder = "First Name", @class = "required" })
                </div>
                <div class="col-md-4">
                    @Html.TextBox("LastName", "", new { placeholder = "Last Name", @class = "required" })
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    @Html.TextBox("Email", "", new { placeholder = "Email", @class = "required" })
                    @Html.ValidationMessage("Email")
                </div>
                <div class="col-md-4">
                    @Html.Password("Password", "", new { placeholder = "Password", @class = "required" })
                </div>
                <div class="col-md-2"></div>
            </div>
          
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="radiobox-container">
                        <label class="radio-inline">
                            @Html.RadioButton("Gender", "Female", false) Female
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButton("Gender", "Male", false) Male
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButton("Gender", "Others", false) Others
                        </label>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="col-md-4">
                    @Html.Password("confirmPassword", "", new { placeholder = "confirmPassword", @class = "required" })
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div style="display: inline-block;margin-top: 10px;">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("terms", true)
                                By signing up I accept <b>terms and conditions of drocument</b>
                                <div id="msg"></div>
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="pull-right btn btn-drocument " value="Sign up">
                </div>
                <div class="col-md-2"></div>
            </div>

        }
    </form>
    <h4 class="text-center or">(or)</h4>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <a href="/Account/Facebook?provider=facebook" class="btn btn-link">Signup with facebook</a>
            @*<button type="button" class="btn btn-primary" style="line-height:30px;font-size:18px;"><img src="~/Images/facebook.png" height="30" style="line-height:30px;border-right:1px solid #1764A6;padding-right:10px;" /> <span style="line-height:30px;">Sign in with facebook</span></button>*@
            @* <button type="button" class="btn btn-google" style="line-height:30px;font-size:18px;"><img src="~/Images/googleplus.png" height="30" style="line-height:30px;border-right:1px solid #943226;padding-right:10px;" /> <span style="line-height:30px;">Sign in with Google</span></button>*@
            @Html.ActionLink("Register with Gmail", "Gmail", "Account", new { provider = "google" }, new { @class = "btn btn-link" })
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row"><div class="col-md-12 text-center">We NEVER post without your permission</div></div>
    <style>
        .btn-primary {
            margin-right: 5px;
            margin-left: -5px;
            margin-bottom: 10px;
        }

        .btn-google {
            margin-left: 5px;
            margin-bottom: 10px;
        }

        .or {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    </style>
    @Html.ActionLink("Already a member?", "Login", "Account", new { @class = "white bottom-link text-center" })
</div>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
        $("#regfrom").validate({
            rules: {
                FirstName: "required",
                LastName: "required",
                Password: {
                    required: true,
                    minlength: 5
                },
                CityId: "required",
                ContactNumber: "required",
                confirmPassword: {
                    required: true,
                    minlength: 5,
                    equalTo: "#Password"
                },
                Gender:"required",
                Address: "required",
                Email: {
                    required: true,
                    email: true
                },
                terms:{
                    required: true,
                }
            },
            messages: {
                FirstName: "Please enter your firstname",
                LastName: "Please enter your lastname",
                Password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                confirmPassword: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long",
                    equalTo: "Please enter the same password as above"
                },
                Gender:"Please Select Gender",
                ContactNumber:"Please enter ContactNumber",
                Address:"Please enter Address",
                Email: "Please enter a valid email address",
                CityId:"Please Select City",
                terms: "Please accept terms and conditions of drocument"
            },
            errorPlacement: function (err, ele) {
                ele.css({ 'border': '1px solid #C54E4E' });
                //ele.parents('.checkbox').css({ 'border': '1px solid #C54E4E' });
                ele.parents('.radiobox-container').css({ 'border': '1px solid #C54E4E' });
                if (ele.attr('type') == "password") {
                    err.insertAfter(ele);
                }
                else {
                    ele.attr('placeholder', err.html())
                    //err.insertAfter(ele);
                    err.insertAfter(ele.parents('.radiobox-container'));
                    err.insertAfter(ele.parents('.checkbox'));
                }
            }
        });
    });
</script>