﻿@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Drocument</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="layout" content="drocument" />
    <meta charset="utf-8">

    <link href='http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,700,300italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/home-cf3634044e625f44e7f04a7f271c0b07.css" />
    <script src="assets/home-4b20e3d7bb42d3f3183310b591e4df72.js" type="text/javascript"></script>

</head>
<body>
    <div id="wrapper">

        <section id="content">


            <div id="signup-container" class="container text-center">
                <h1 class="thankyou-header">
                    Thank you!
                </h1>
                <div class="col-md-12 text-center">
                    @if (ViewBag.Message != null)
                    {
                        @ViewBag.Message
                    }
                </div>
                <a href="/" class="white bottom-link">back to drocument</a>
            </div>



        </section>
    </div>
    <style>
        .dashboard-menu {
            display:none;
        }
    </style>
</body>
</html>
